@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);

.header {
  min-width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header {
    min-width: 90.625%;
  }
}

@media screen and (max-width: 896px) {
  .header {
    min-width: 93.75%;
  }
}

@media screen and (max-width: 544px) {
  .header {
    min-width: 90%;
  }
}
