.place__text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167%;
  margin: 0;
}

@media screen and (max-width: 945px) {
  .place__text {
    font-size: 16px;
    line-height: 162%;
  }

@media screen and (max-width: 735px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 162%;
  }
}
