@import url(./_normal/intro__list-item_normal.css);

.intro__list_item {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
