.footer__link {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 113%;
  list-style: none;
  padding: 0;
  margin: 0 18px 0 0;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .2s;
}

@media screen and (max-width: 735px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 32px;
  }
}
