.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin: 56px 0 32px;
}

@media screen and (max-width: 1200px) {
  .lead__title {
    margin-top: 48px;
  }
}
