.place__paragraph {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167%;
  color: #fff;
  margin: 0 0 24px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .place__paragraph {
    margin: 0 0 27px;
  }
}
