@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 92.5%;
  min-height: 740px;
  position: relative;
}

.cover:hover .cover__overlay {
  opacity: .8;
  transition: opacity .2s;
}

@media screen and (max-width: 1200px) {
  .cover {
    min-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover {
    min-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 544px) {
  .cover {
    min-width: 100%;
    min-height: 200px;
  }
}
