@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  background-image: url(../../images/cover-trains.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 92.5%;
  height: 60vw;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .cover {
    min-width: 100%;
    min-height: 60vw;
  }
}
