.lead__caption {
  align-self: flex-start;
  font-family: 'Inter', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  margin: 8px 0 0;
}

@media screen and (max-width: 945px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 735px) {
  .lead__caption {
    margin: 8px 0 0 18px;
  }
}
