@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);

.place {
  display: grid;
  grid-template-columns: min-content minmax(min-content, 484px);
  gap: 48px 40px;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: min-content 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: min-content 352px;
    gap: 48px 28px;
  }
}
